@import 'bootstrap/dist/css/bootstrap.min.css';
  body
{
    background-color: rgb(234, 238, 241);
}
a
{
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 1.5rem;
}
.issue-items
{
  border: none;
  width: fit-content;
  padding: .7rem 1.5rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: #0B5ED7;
  color: white;
}